script/MachineLearningCVE/
write-up/xgb_on_cicids2017_for_nids.out
write-up/xgb_on_cicids2017_for_nids.aux  
write-up/xgb_on_cicids2017_for_nids.run.xml
write-up/xgb_on_cicids2017_for_nids.bbl  
write-up/xgb_on_cicids2017_for_nids.synctex.gz
write-up/xgb_on_cicids2017_for_nids.bcf  
write-up/xgb_on_cicids2017_for_nids.blg  
write-up/xgb_on_cicids2017_for_nids.toc
write-up/xgb_on_cicids2017_for_nids.log
presentation.aux         
presentation.log         
presentation.nav         
presentation.out         
presentation.snm         
presentation.synctex.gz
presentation.toc         
write-up/presentation/presentation.bbl
write-up/presentation/presentation.blg
